---
import type {
  TransitionAnimationPair,
  TransitionDirectionalAnimations,
} from 'astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  current: 'home' | 'about';
}

const { title, current } = Astro.props;

const anim: TransitionAnimationPair = {
  old: {
    name: 'zoomIn',
    duration: '0.3s',
    easing: 'ease-in-out',
    fillMode: 'forwards',
  },
  new: {
    name: 'zoomOut',
    duration: '0.3s',
    easing: 'ease-in-out',
    fillMode: 'backwards',
  },
};

const myFade: TransitionDirectionalAnimations = {
  forwards: anim,
  backwards: anim,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header transition:animate="morph">
      <h1>{title}</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
            {current === 'home' && <span transition:name="icon" class="icon" />}
          </li>
          <li>
            <a href="/about">About</a>
            {
              current === 'about' && (
                <span transition:name="icon" class="icon" />
              )
            }
          </li>
        </ul>
      </nav>
    </header>
    <div transition:animate={myFade}>
      <slot />
    </div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
    <style>
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        gap: 20px;
        padding: 0 50px;
      }
      header a {
        color: #fff;
      }
      ul {
        display: flex;
        list-style-type: none;
        gap: 15px;
      }
      li {
        display: flex;
        position: relative;
      }
      a {
        text-decoration: none;
        font-size: 18px;
      }
      .icon {
        display: inline-block;
        width: 100%;
        height: 2px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -1px;
      }
      @keyframes zoomOut {
        from {
          opacity: 0;
          scale: 0.9;
        }
        to {
          opacity: 1;
          scale: 1;
        }
      }
      @keyframes zoomIn {
        from {
          opacity: 1;
          scale: 1;
        }
        to {
          opacity: 0;
          scale: 1.1;
        }
      }
    </style>
  </body>
</html>
